<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}   
 </head>
 <body>
     {{>navbar}}
     <div class="clouds">
         <div class="moon"></div>
     <img  src="./image/cloud1.png" style="--i:1;">
     <img src="./image/cloud2.png" style="--i:2;">
     <img src="./image/cloud3.png" style="--i:3;">
     <img src="./image/cloud4.png" style="--i:4;">
     <img src="./image/cloud5.png" style="--i:5;">
    </div>
     <div class='c'>
     
      <div class='_404'>404</div>
        <hr>
        <div class='_1'>THE PAGE</div>
        <div class='_2'>WAS NOT FOUND</div>
        <a class='btn' href="/">BACK TO HOME</a>
    </div>
  {{>icon}}
</body>
</html>