<!DOCTYPE html>
<html>
<head>
    <title> Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
 {{>navbar}}
<section id="home">
  <div class="container-fluid p-0">
    <div id="carousel" class="carousel slide hero-slides" data-ride="carousel">
      <ol class="carousel-indicators">
        <li class="active" data-target="#carousel" data-slide-to="0"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active boat">
          <div class="container h-100 d-md-block">
            <div class="row align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="caption animated fadeIn">
                  <h2 class="animated fadeInLeft">Welcome To Weather App</h2>
                  <p class="animated fadeInRight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
                  <a class="animated fadeInUp btn delicious-btn" href="/weather">Learn more</a>
                </div>
              </div>
            </div>         
          </div>
        </div>
        <div class="carousel-item sea">
          <div class="container h-100 d-md-block">
            <div class="row align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="caption animated fadeIn">
                  <h2 class="animated fadeInLeft"> Weather Live Update</h2>
                  <p class="animated fadeInRight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
                  <a class="animated fadeInUp btn delicious-btn" href="/weather">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item river">
          <div class="container h-100 d-md-block">
            <div class="row align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="caption animated fadeIn">
                  <h2 class="animated fadeInLeft">Explore the Weather</h2>
                  <p class="animated fadeInRight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
                  <a class="animated fadeInUp btn delicious-btn" href="/weather">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
  <section id="About">
    <div class="our-about">
      <div class="right-about">
        <figure>
          <img src="/image/11.png" alt="">
        </figure>
      </div>
      <div class="left-about">
          <h1> Latest News Of Weather </h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore itaque temporibus pariatur distinctio similique eum. Voluptas praesentium animi placeat
          </p>
          <a class="btn" href="/weather">Explore Now!</a>
      </div>
    </div>
  </section>
   
   {{!-- ------------------------contect section----------------- --}}

 <section id="Contect">
    <div class="mt-5 pt-5 pb-5 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2>About Weather</h2>
      <p class="pr-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis quam tristique convallis </p>
      <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">Services</h4>
        <ul class="m-0 p-0">
          <li>- <a href="#">Lorem ipsum</a></li>
          <li>- <a href="#">Nam mauris velit</a></li>
          <li>- <a href="#">Etiam vitae mauris</a></li>
          <li>- <a href="#">Fusce scelerisque</a></li>
          <li>- <a href="#">Sed faucibus</a></li>
          <li>- <a href="#">Mauris efficitur nulla</a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">Location</h4>
      <p>22, Lorem ipsum dolor, consectetur adipiscing</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
      <p><i class="fa fa-envelope mr-3"></i>info@hsdf.com</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2021. All Rights Reserved. happyweather.com</small></p>
    </div>
  </div>
</div>
</div>
</section>


  {{!-- -------icon section --------- --}}
   <div class="icon-bar">
      <a href="https://www.facebook.com" class="facebook" target="facebook">
        click here to visit <i class="fab fa-facebook-square"></i>
      </a>

      <a href="https://www.twitter.com" class="twitter" target="twitter">
        click here to visit <i class="fab fa-twitter"></i>
      </a>

      <a
        href="https://www.instagram.com"
        class="instagram"
        target="instagram">
        click here to visit <i class="fab fa-instagram"></i>
      </a>

      <a href="https://www.linkedin.com" class="linkedin" target="linkedin">
        click here to visit <i class="fab fa-linkedin"></i>
      </a>

      <a
        href="https://www.youtube.com"
        class="youtube"
        target="youtube"
      >
        click here to visit <i class="fab fa-youtube-square"></i>
      </a>
    </div>
  {{!-- <footer class="footer" >

    <!-- Copyright -->
    <div class="text2">
      © 2021 Copyright:
      <a href="/">HappyWeather.com</a>
    </div>
  </footer> --}}
  <script src="app.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" scr="https://cdnjs.cloudflare.com/ajax/libs/animateCSS/1.2.2/jquery.animatecss.min.js"></script>
 
</body>
</html>

