<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>footer</title>
  <style>
    footer {
  width: 100%;
  /* height: 5rem; */
  background-color: var(--main-bg);
  margin-top: auto;
}

footer p {
  margin: 0;
  text-align: center;
  line-height: 5rem;
  color: #fff;
  font-size: 1.4rem;
}

  </style>
</head>
<body>
   <footer class="footer" >

    <!-- Copyright -->
    <div class="text2">
      © 2021 Copyright:
      <a href="/">HappyWeather.com</a>
    </div>
  </footer>
</body>
</html>